* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}
/************************** DESKTOP ****************************/

/* GENERALS */

section {
    padding: 3rem 1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.button {
    padding: 0.5rem 0.7rem;
    border-radius: 999px;
}

/* UTILITY */

.row {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.col {

}

.bkg-white__text-black{
    background-color: white;
    color: black;
}

.bkg-blue__text-white {
    background-color: #0084FD;
    color: white;
}
/* HEADER */

.main-header {
    background-color: #0084FD;
    color: white;
    font-size: 1.2rem;
}

.header-flex {
    justify-content: space-between;
    align-items: center;
}

.main-header .navbar li{
    padding: 0.5rem 0rem;
}

#padding-button {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}