* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}
/************************** DESKTOP ****************************/

/* GENERALS */

section {
    padding: 6rem 1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 940px;
    margin: 0 auto;
}

.button {
    padding: 0.5rem 0.7rem;
    border-radius: 999px;
}

/* UTILITY */

.row {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.text-center {
    text-align: center;
}


.bkg-white__text-black{
    background-color: white;
    color: black;
}

.bkg-blue__text-white {
    background-color: #0084FD;
    color: white;
}


/* HEADER */

.main-header {
    background-color: #0084FD;
    color: white;
    font-size: 1.2rem;
}

.header-flex {
    justify-content: space-between;
    align-items: center;
}

.main-header .navbar li{
    padding: 0.5rem 0rem;
}

#padding-button {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}



/* HERO */

.hero .row {
    flex-wrap: wrap;
}

.hero .col {
    flex-basis: 330px;
    flex-grow: 1;
}

.hero .col.grow-2 {
    flex-basis: 660px;
}

/* Cards */

.hero .row {
    gap: 22px;
}

.card {
    height: 100%;
    background-color: #B6DDFF;
    color: #6E869A;
    padding: 4rem 1rem;
    font-size: 1.1;
    font-weight: 700;
    line-height: 1.6rem;
    border-radius: 20px;
}

.card img {
    margin-bottom: -4rem;
    display: block;
}


.card h4 {
    font-size: 1.25rem;
    color: #0084FD;
    padding-bottom: 1rem;
}


.grow-2 p{
    margin-bottom: 4rem;
}

.card .icons {
    color: #0084FD;
    font-size: 6rem;
    padding-bottom: 1.2rem;
}
.card-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .col:first-child .card {
    display: flex;
}

.grow-2 .button {
    padding: 1rem 4rem;
    font-size: 1.5rem;
}


/* TOPIC PLANING SECTION */

.topic {
    background-color: #9792E4;
    color: white;
}

.topic h4 {
    font-size: 2rem ;
    padding-bottom: 1.5rem;
}

/* .topic .row {
    gap: 50px;
} */

.topic .col {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.topic .col:last-child {
    padding: 8rem 3.5rem 0 3.5rem;
    align-items: flex-end;
}

.topic .card-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    padding: 2rem;
    border-radius: 40px;
}

.topic .card-topic::after{
     content: "\2193";
     background-color: #9792E4;
     padding: 12px 15px;
     border-radius: 50%;
     margin: 1.5rem 0;
}

.topic .card-topic p{
    font-size: 1.3rem;
    font-weight: 200;
}
.card-topic figure {
    max-width: 250px;
    margin-bottom: 1.5rem;

}

.topic .col>.pic {
    max-width: 420px;
}

.topic .col:first-child {
    justify-content: space-between;
}