* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/************************** DESKTOP ****************************/

